<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <form class="form-horizontal">


        <div class="form-group">
            <div class="col-md-5">
                <input type="text" ng-model="filterValue" ng-change="filter()" class="form-control" placeholder="Filter Workouts by (Name) or (Type)" />
            </div>
            <div class="col-md-2">
                <select ng-model="selectedWOD" ng-change="filter()" class="form-control" ng-options="item for item in typeOfWorkout"></select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-block pull-right" data-ng-click="newWorkout()"><span class="glyphicon glyphicon-plus"></span>New</button>
            </div>
        </div>
        <div class="well well-sm" ng-show="totalFilteredWorkouts == 0">
            <h5>No Workouts found</h5>
        </div>
         <div ng-show="totalWorkouts > 0">
            <uib-accordion>
                <uib-accordion-group ng-repeat="wod in filteredWorkouts">
                    <uib-accordion-heading >
                        <div class="row vertical-align">
                            <div class="col-xs-6 col-md-6">{{wod.name}}</div>
                            <div class="pull-right">
                                {{wod.date | date:'dd-MM-yyyy'}}
                                <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                            </div>
                        </div>            
                  </uib-accordion-heading>
                    <div class="container-fluid">Total time of the Wod: {{wod.time | timeFilter}}</div>
                    <div ng-if="!isLadder(wod.type)" class="container-fluid">
                        <table class="table table-striped">
                            <thead>
                                <th>Exercise name</th>
                                <th>Num of reps</th>
                            </thead>
                            <tr ng-repeat="exercise in wod.exercises">
                                <td>{{exercise.name}}</td>
                                <td>{{exercise.numReps}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="container-fluid" ng-if="isLadder(wod.type)">
                        <div class="col-sm-10">
                            <ladder-exercises read-only="true" rounds="wod.roundsLadder" exercises-in-rounds="wod.exercises" delete-exercise="deleteExercise" />
                        </div>
                    </div>
                    <div ng-show="isRoundsWithTimeType(wod.type)">
                        <reps-in-rounds read-only="true" reps-in-rounds="wod.repsInRounds"></reps-in-rounds>
                        <div class="form-group">
                            <label for="timeOfRest" class="col-sm-2 control-label">Rest between:</label>
                            <div class="col-sm-8">
                                <span>{{wod.timeBetweenSeries}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid pull-right">
                        <button class="btn btn-info" ng-click="edit(wod)">Edit</button>
                        <button class="btn btn-danger" ng-click="delete()">Delete</button>
                    </div>
                </uib-accordion-group>   
            </uib-accordion>
         </div>
    </form>
</div>