<div>
    <div class="form-group">
        <div class="col-sm-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Exercise</th>                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exercise in exercises">
                        <td>
                            <span>{{exercise.name}}</span>
                        </td>
                        <td>
                            <button class="btn-group"  ng-show="!readOnly"  ng-click="deleteExercise(exercise)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-condensed">  
                <thead>
                    <tr>
                        <th>Round</th>
                        <th>Name</th>
                        <th>Num Reps</th>
                        <th>Weight or Distance</th>
                    </tr>
                </thead>
                <tbody ng-repeat="round in rounds">
                    <tr ng-repeat="exercise in round">
                        <td>                    
                            <span>{{exercise.round}}</span>
                            <span>{{readOnly}}</span>
                        </td>                
                        <td>                    
                            <span>{{exercise.name}}</span>
                        </td>
                        <td>
                            <input type="text" name="numReps" ng-show="!readOnly" ng-model="exercise.numReps">
                            <span ng-show="readOnly">{{exercise.numReps}}</span>
                        </td>
                        <td>
                            <input type="text" name="weightOrDistance" ng-show="!readOnly"  ng-model="exercise.weightOrDistance">
                            <span ng-show="readOnly">{{exercise.weightOrDistance}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>